h1{
    font-size: 100px;
    font-weight: bold;
    color: gold;
    text-shadow: black 0px 0px 5px;
    padding: 75px;
    margin: 75px;
}
p{
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
}
